body {
    background-color: #009688;
    font-family: sans-serif;
    overscroll-behavior-y: contain;
}

#welcomeOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

#welcomeOverlay > div {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin-top: 5em;
    max-width: 26em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    border: 1px solid rgb(227, 227, 227);
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.9) inset;
}

#namebox {
    margin-bottom: 1em;
    font-size: large;
}

#welcomeOverlay button {
    font-size: x-large;
    font-weight: bold;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 0 0.2em;
}

#content {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
}

#chatTitle {
    padding: 0.5em;
    height: 4em;
    border-bottom: 1px solid #d7d0ca;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#chatTitleStub {
    width: 3em;
}

#chatTitleText {
    padding-top: 1em;
    font-size: large;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

#helpButton {
    flex-basis: 0;
    display: inline-block;
    z-index: 4;
}

#helpButton img {
    border: 0;
    outline: none;
    text-decoration: none;
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

#messages {
    background-image: url('background.png');
    background-repeat: repeat;
}

#help {
    background-color: white;
    padding: 0 1em;
}

#messages, #help {
    overflow: auto;
    flex-grow: 1;
}

.message {
    margin: 0.5em;
}

.messageInner {
    border-radius: 6px;
    max-width: 30em;
    padding: 0.5em;
    word-wrap: break-word;
    position: relative;
    display: inline-block;
    text-align: left;
    background-color: #faf9f9;
}

.message.chatYou {
    text-align: right;
}

.message.public, .message.private {
    text-align: center;
}

.message.private .messageInner {
    background-color: #ffd6ba;
}

.message.chatYou .messageInner {
    background-color: #bee3db;
}

#inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sendButton {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
}

#inputbox {
    background-color: white;
    margin: 0.5em;
    flex-grow: 1;
    min-height: 2em;
    border-radius: 2px;
    padding: 0.5em;
    outline: 0px solid transparent;
}

.messageButtons button {
    margin: 0.5em 0.1em;
    font-size: medium;
    min-width: 5em;
    min-height: 2.5em;
}

#statusMessage {
    padding: 0.5em;
    text-align: center;
}

#statusMessage.error {
    background-color: #cc7079;
}

#visualisation {
    width: 100%;
    height: min(40%, 15em);
}

#visualisation svg {
    width: 100%;
    height: 100%;
}

@media only all and (max-width: 45em) {
    #content {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0px;
    }
}

@media not all and (max-width: 45em) {
    #content {
        max-width: 40em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        height: 95vh;
    }
}
